INGEST_API_KEY=change-me
AUTH_SECRET=change-me
ADMIN_PASSWORD=change-me
DEMO_PASSWORD=demo
CORS_ORIGINS=http://161.118.245.238:3000
DEMO_HIDE_ACCOUNT_IDS=true
DEMO_HIDE_TICKETS=true
DEMO_HIDE_OPEN_PRICES=true
DEMO_HIDE_BROKERS=false
DEMO_HIDE_LOTS=false
DEMO_HIDE_PNL=false
